

@media (max-width: 767px) {
  
  .about {
    padding: 32px 16px;
  }

  .about h2 {
    font-size: 36px;
  }

  .about-content {
    flex-direction: column;
  }

  .about-text {
    padding-right: 0;
    margin-bottom: 24px;
  }

  .about-stats {
    width: 100%;
  }

  .stat-item {
    padding: 16px;
  }

  .stat-number {
    font-size: 36px;
  }

  .stat-label {
    font-size: 18px;
  }

  .about-image {
    height: 200px;
  }

  .cta-button-wide {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 374px) {
  .stat-number {
    font-size: 32px;
  }

  .stat-label {
    font-size: 16px;
  }
}


@media (max-width: 767px) {
 
  .map {
    width: 100%;
    height: 400px;
    margin-bottom: 24px;
  }

}

.section-title {
  font-family: var(--primary-font);
  font-size: 52px;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 32px;
  line-height: 1.2;
}

.section-description {
  font-size: 16px;
  color: var(--black);
  margin-bottom: 24px;
  max-width: 671px;
}




.why-choose-us {
  padding: 52px 40px;
  background: var(--white);
}

.advantages-container {
  margin-bottom: 32px;
}

.advantages-scroll {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.advantages-scroll::-webkit-scrollbar {
  display: none; 
}



.advantage-card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border: 1px solid var(--black);
  height: 355px;
  background: var(--white);
  transition: var(--transition);
  cursor: pointer;
  min-width: 328px;
  flex: 0 0 328px;
  scroll-snap-align: start;
}



.advantage-title {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  align-self: stretch;
  line-height: 1.2;
}
.advantages-scroll {
  cursor: grab;
  user-select: none;
}

.advantages-scroll.active {
  cursor: grabbing;
}
.advantage-description {
  font-size: 14px;
  color: var(--black);
  font-weight: 300;
  align-self: stretch;
  line-height: 1.4;
}

.section-cta {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  align-self: stretch;
}


.about {
  padding: 52px 40px;
  background: var(--white);
}

.about h2 {
  font-family: var(--primary-font);
  font-size: 64px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 32px;
}

.about-content {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.about-text {
  flex: 1;
  padding-right: 172px;
}

.about-text p {
  font-size: 16px;
  font-weight: 300;
  color: var(--black);
  text-align: justify;
  line-height: 1.5;
}

.about-stats {
  width: 672px;
  display: flex;
  flex-direction: column;
}

.stat-item {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray2);
}

.stat-item:last-child {
  border-bottom: none;
}

.stat-number {
  font-family: var(--primary-font);
  font-size: 52px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
}

.stat-label {
  font-size: 24px;
  font-weight: 400;
  color: var(--black);
}

.about-image {
  width: 100%;
  height: 350px;
  border-radius: var(--radius);
  object-fit: cover;
  margin-bottom: 24px;
}
.why-choose-us {
  padding: 52px 40px;
}
.founder {
  padding: 52px 40px;
  background: var(--white);
}

.founder .container {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.founder-image {
  height: 672px;
  flex: 1;
  border-radius: var(--radius);
  object-fit: cover;
}

.founder-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 672px;
}

.founder-content h2 {
  font-family: var(--primary-font);
  font-size: 64px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
}

.founder-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.founder-text-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
  align-self: stretch;
}

.founder-text h3 {
  font-family: var(--primary-font);
  font-size: 32px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
}

.founder-text p {
  color: var(--Black, #2c2c2c);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}

.mission {
  padding: 52px 40px;
  background: var(--white);
}

.mission .container {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.mission-image {
  height: 672px;
  flex: 1;
  border-radius: var(--radius);
  object-fit: cover;
}

.mission-content {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 672px;
}

.mission-content h2 {
  font-family: var(--primary-font);
  font-size: 64px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
}

.mission-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  padding: 0 24px;
}
.mission-text-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 24px;
  align-self: stretch;
}
.mission-text h3 {
  font-family: var(--primary-font);
  font-size: 32px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
}

.mission-text p {
  color: var(--Black, #2c2c2c);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}

span.select-1 {
  font-weight: 500;
}

.select-2 {
  font-style: italic;
}

.contacts {
  width: 100%;
  padding: 52px 40px;
  background: var(--white);
}

.contacts h2 {
  font-family: var(--primary-font);
  font-size: 64px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 24px;
}

.contacts-content {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.map {
  width: 1005px;
  height: 400px;
  border-radius: 16px;
  object-fit: cover;
  overflow: hidden;
  filter: grayscale(100%);
}

.map [class*="placemark"] {
  filter: none !important;
}

.contact-info {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address h3 {
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 4px;
}

.address p {
  font-size: 16px;
  color: var(--gray);
}

.contact-phone,
.contact-email {
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
  text-decoration: none;
}

.contact-social {
  display: flex;
  gap: 8px;
  margin-bottom: auto;
}

.contact-social a {
  color: var(--black);
  transition: opacity 0.2s;
}

.contact-social a:hover {
  opacity: 0.7;
}

.cta-button-wide {
  display: flex;
  width: 328px;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--black);
  background: transparent;
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s; 
  position: relative; 
  overflow: hidden; 
  margin-left: auto;
}

.cta-button-contact {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--black);
  background: transparent;
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s; 
  position: relative; 
  overflow: hidden; 
}
.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border: 1px solid var(--black);
  background: transparent;
  color: var(--black);
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s; 
  position: relative; 
  overflow: hidden; 
  border-radius: 0;
  cursor: pointer;
}



.cta-button-wide:hover,
.cta-button-contact:hover,
.btn:hover {
  border-color: transparent; 
  border-bottom: 1px solid var(--black);
}


.cta-button-wide:active,
.cta-button-contact:active,
.btn:active {
  border-color: transparent; 
}

.cta-button-wide:disabled,
.cta-button-contact:disabled,
.btn:disabled{
  opacity: 0.3;
}


@media (max-width: 767px) {
  .contacts {
    padding: 36px 16px;
  }

  .contacts h2 {
    font-size: 36px;
  }

  .contacts-content {
    flex-direction: column;
  }

  .map {
    width: 100%;
    height: 400px;
    margin-bottom: 24px;
    border-radius: 16px;
    overflow: hidden;
    filter: grayscale(100%);
  }

  .contact-info {
    width: 100%;
    height: auto;
    padding: 16px 0;
  }
 
  .cta-button-contact {
    width: 100%;
    margin-left: 0;
  }
  .contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 56px;
  }

  .about {
    padding: 32px 16px;
  }

  .about h2 {
    font-size: 36px;
  }

  .about-content {
    flex-direction: column;
  }

  .about-text {
    padding-right: 0;
    margin-bottom: 24px;
  }

  .about-stats {
    width: 100%;
  }

  .stat-item {
    padding: 16px 0px;
  }

   .time{
    width: 200px;
  }
  
  .stat-number {
    font-size: 32px;
  }

  .stat-label {
    text-align: right;
    font-size: 16px;
  }

  .about-image {
    height: 200px;
  }

  .cta-button-wide {
    width: 100%;
    margin-left: 0;
  }

  .mission {
    padding: 32px 16px;
  
  }
  .mission .container {
    flex-direction: column;
  }
  

  .mission-image,
  .mission-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .mission-content {
    height: auto;
    
  }

  .mission-content h2 {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .mission-text h3 {
    font-size: 24px;
  }
  .section-title {
    font-size: 36px;
  }

  .founder {
    padding: 16px 16px;
  }
  
  .founder .container {
    flex-direction: column;
  }
  
  .contacts-content {
    flex-direction: column;
  }

  .founder-image,
  .founder-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .founder-content {
    height: auto;
  }

  .founder-content h2 {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .founder-text h3 {
    font-size: 24px;
  }
  .why-choose-us {
  padding: 32px 16px;
}
}


@media (max-width: 374px) {
  .hero-text h1 {
    font-size: 28px;
  }

  .stat-number {
    font-size: 32px;
  }

  .stat-label {
    font-size: 16px;
  }

  .container-tab p {
    font-size: 20px;
  }

  .mobile-menu {
    max-width: 320px;
  }
}



@media (max-width: 374px) {
  .hero-text h1 {
    font-size: 28px;
  }

  .stat-number {
    font-size: 32px;
  }

  .stat-label {
    font-size: 16px;
  }

  .container-tab p {
    font-size: 20px;
  }

  .mobile-menu {
    max-width: 320px;
  }


}


@media (max-width: 767px) {
  .mission .container {
    flex-direction: column;
  }
  
  .mission-content {
    order: 1; 
    height: auto;
    margin-bottom: 24px;
  }
  
  .mission-image {
    order: 2; 
    height: 200px;
    margin-bottom: 24px;
  }
  
  .mission-text {
    order: 3; 
    padding: 0;
  }
  
  .cta-button-wide {
    order: 4; 
    width: 100%;
    margin-top: 24px;
  }
  
  .mission-content h2 {
    font-size: 36px;
    margin-bottom: 16px;
  }
  
  .mission-text h3 {
    font-size: 24px;
  }
  .btn {
    width: 373px;
  }
}